@import "../../bower_components/Colors/sass/variables"
@import "../../bower_components/bootstrap/scss/variables"
@import "../variable"

body
  background-color: $silver

#installation-wizard
  margin-top: $gap-l

  .carousel-inner
    padding: 0

  .carousel-item
    min-height: 400px
    padding: $modal-inner-padding

  .modal-footer
    position: relative
    min-height: 75px

  .carousel-indicators
    top: $gap-s + $modal-inner-padding

    li
      background-color: $gray

    .active
      background-color: $brand-primary

  .carousel-control
    color: $gray
    opacity: 1
    text-shadow: none
    width: auto
    top: $modal-inner-padding
    bottom: $modal-inner-padding

    &.btn-secondary
      left: $modal-inner-padding

    &.btn-primary
      color: $white
      left: auto
      right: $modal-inner-padding

    .icon-next,
    .icon-prev
      font-size: 1em
      position: static
      margin: 0
      width: auto
      height: auto
      vertical-align: text-top