<div class="row">
  <div class="col-sm-4">
    <div class="o-card">
      <header>
        <h2>article</h2>
        <p class="well">文章信息表，存储文章信息。</p>
      </header>
      <div class="o-card-body">
        <p>数据量：100</p>
      </div>
      <footer>
        <div class="btn-group">
          <a href="#/table/article" class="btn btn-secondary" title="查看数据"><i class="fa fa-eye"></i></a>
          <a href="#/link/article" class="btn btn-secondary" title="查看表结构"><i class="fa fa-list"></i></a>
        </div>
        <button type="button" class="btn btn-danger pull-right" title="删除此表"><i class="fa fa-trash"></i></button>
      </footer>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="o-card">
      <header>
        <h2>tag</h2>
        <p class="well">文章标签表，用标签来给文章分类</p>
      </header>
      <div class="o-card-body">
        <p>数据量：100</p>
      </div>
      <footer>
        <div class="btn-group">
          <a href="#/table/article" class="btn btn-secondary" title="查看数据"><i class="fa fa-eye"></i></a>
          <a href="#/link/article" class="btn btn-secondary" title="查看表结构"><i class="fa fa-list"></i></a>
        </div>
        <button type="button" class="btn btn-danger pull-right" title="删除此表"><i class="fa fa-trash"></i></button>
      </footer>
    </div>
  </div>
</div>